<!DOCTYPE html>
<html>
  <head>
    <title>Wealthsimple | Smart Investing</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
